<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="LDAP_PATH" value="LDAP://192.168.0.23" />
        <add key="LDAP_DOMAIN" value="192.168.0.23" />
        <add key="LDAP_ACCOUNT" value="kingsp" />
        <add key="LDAP_PASSWORD" value="nlsc!123" />
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
